.food-data-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    .food-data-title {
        text-align: center;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 8px;
    }
}
