.custom-input-with-label {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    .custom-input-with-label-text {
    }
    .custom-input-with-label-input {
        border-bottom: 1px solid white;
        // background-color: rgb(24, 24, 24);
    }
}
